<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div id="user-data" ngModelGroup="userData" #userdata="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" ngModel name="username" required>
          </div>
          <button class="btn btn-default" type="button">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" id="email" class="form-control" ngModel name="email" required email
            #myemail="ngModel">
            <span class="help-block" *ngIf="!myemail.valid && myemail.touched">invalid email</span>
          </div>
        </div>
        <p *ngIf="!userdata.valid && userdata.touched">invalid data</p>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret" class="form-control" [ngModel]="defaultQuestion" name="secret">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea rows="3" class="form-control" name="answer" [(ngModel)]="answer"></textarea>
        </div>
        <span class="help-block">{{answer}}</span>

        <h5>Gender: </h5>
        <div class="radio" *ngFor="let g of genders ">
          <label>
            <input type="radio" ngModel name="gender" [value]="g" required> {{ g }}
          </label>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
      </form>
    </div>
  </div>
</div>
